body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root > div {
  display: flex;
  height: 100vh;
}

.left-scene {
  flex: 0 0 60%;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.left-scene .gif {
  min-height: 200px;
  height: calc(100vh - 200px);
}

.left-scene:before {
  content: '\F002';
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: FontAwesome;
  font-size: 2em;
  opacity: 0.4;
}

.form-search {
  padding: 30px 30px 30px 60px;
  border: none;
  font-size: 2em;
  box-shadow: none;
}

.form-search:focus {
  box-shadow: none;
}

.selected-gif {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.22'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.selected-gif .gif {
  margin: auto;
}

.right-scene {
  flex: 0 0 40%;
  background-color: #ecf0f1;
  overflow: scroll;
}

.right-scene .gif-list {
  column-count: 2;
  column-gap: 5px;
  padding: 5px;
}

.gif-list .gif {
  margin: 0px;
}

.gif-list .button {
  display: inline-flex;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.gif-list .button .gif {
  filter: grayscale(60%);
}

.gif-list .button:hover {
  background-color: green;
}

.gif-list .button:hover .gif {
  filter: grayscale(0%);
  opacity: .8;
}
